/* Global */

h1, h2, h3, h4, h5, h6, .header-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.highlight-phone-number {
  color: #d14600;
}

.squarify {
  -webkit-border-radius: 0px;
  -moz-border-raidus: 0px;
  border-radius: 0px;
}

.roundify {
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
  border-radius: 5px;
}

.center-text {
  text-align: center;
}

/* Header */

#header {
  padding: 7px 0px;
}

#header-logo {
  height: 40px;
}

#header-call-us {
  font-size: 16px;
  font-weight: bold;
  padding-top: 9px;
}

/* Footer */

#footer {
  background-color: #f5f5f5;
  padding: 15px;
}

.footer-text {
  margin: 0px;
  text-align: center;
}