#header {
  padding: 7px 0px;
}

/* Cover */

#cover h1, #cover h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
}

#cover {
  height: 370px;
  background-image: url(../img/background.png);
  background-position: 50% 45%;
  -webkit-border-radius: 0px;
  -moz-border-raidus: 0px;
  border-radius: 0px;
  color: white;
}

#cover h1 {
  padding-bottom: 50px;
  font-size: 57px;
}

#cover h2 {
  line-height: inherit;
  font-size: 35px;
}

#cover h3 {
  line-height: inherit;
  font-weight: 300;
  color: #e4e4e4;
}

/* How it works */

#how-it-works {
  width: 700px;
  margin: auto;
  margin-top: -180px;  
  margin-bottom: 50px;
  
  background-color: #f5f5f5;
  border: 1px solid #dadada;
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  
  padding: 5px 25px;
  
  width: 700px;
}

#how-it-works .header {
  text-align: center;
}

#how-it-works #steps h4 {
  font-weight: normal;
}

#how-it-works .number {
  background-color: #d14600;
  color: white;
  padding: 2px 8px;
  margin-right: 5px;
}

#how-it-works .call {
  text-align: center;
}

.phone {
  color: #d14600;
}

#how-it-works img {
  height: 70px;
  display: block;
  margin-left: 50px;
  padding: 9px 0px;
}

/* Content */

#content {
  padding-bottom: 50px;
}

#content h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

#content .soften {
  margin: 30px 0px;
}

#restaurants h2 {
  padding-bottom: 30px;
}

#restaurants img {
  height: 50px;
  width: 50px;
}

#restaurants {
  padding-bottom: 0px;
}

#call-us h2 {
  padding-bottom: 20px;
}

#call-us h3 {
  font-size: 40px;
}

#delivery-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  width: 300px;
  margin: auto;
  text-align: center;
}

#featured img {
  height: 50px;
  padding-right: 75px;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

/* Footer */

#footer {
  height: 50px;
  background-color: #f5f5f5;
}

#footer p {
  text-align: center;
  padding-top: 15px;
}